@font-face {
  font-family: "SuisseWorks";
  src: url("https://www.udemy.com/staticx/udemy/fonts/SuisseWorks-Bold-v1.woff2")
    format("woff");
}
@font-face {
  font-family: "udemy sans";
  src: url("https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Bold-v1.woff2")
    format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "udemy sans";
  src: url("https://www.udemy.com/staticx/udemy/fonts/Udemy-Sans-Regular-v1.woff2")
    format("woff");
}
:root {
  --light: #f7f9fa;
  --dark: #1c1d1f;
  --light-grey: #d1d7dc;
  --grey: #6a6f73;
  --purple: #5624d0;
  --max-width: 1340px;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: udemy sans;
  font-weight: 400;
  line-height: 1.4;
  font-size: 16px;
  color: var(--dark);
}
.reg-font {
  font-family: udemy sans;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}
.bold-font {
  font-family: udemy sans;
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
}
h1 {
  margin: 8px 0px;
  font-family: SuisseWorks;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.25;
}
h2 {
  font-family: udemy sans;
  line-height: 1.2;
  font-size: 24px;
  color: var(--dark);
}
.material-icons-outlined.md18 {
  font-size: 18px;
}
.material-icons-outlined.md14 {
  font-size: 14px;
  letter-spacing: -3px;
}
.mybtn.link:hover {
  color: var(--purple);
}
.mybtn {
  cursor: pointer;
  border: 0;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-bg.box:hover {
  background-color: var(--light);
}
.white-bg {
  background-color: transparent;
}
.black-bg.box:hover {
  background-color: black;
}
.black-bg {
  background-color: var(--dark);
  color: white;
}
.box {
  border: 1px solid var(--dark);
  margin: 0 4px;
  padding: 0 12px;
  height: 40px;
  width: 80px;
}
.icon.box {
  width: 40px;
  padding: 0;
}
.link {
  padding: 0 12px;
  height: 48px;
}
.btn-space {
  width: 48px;
}
main {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 24px;
}
